h1  {
    font-size: 20px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu{
    position: absolute;
    display: block;
    z-index: 3;

    img{
        height: 100px;
    }
    .menu-link{
        margin-top: 30px;
    }
    .btn{
        color: white;
    }
}

.img-slider-container{
    max-height: 95vh;
}

.img-slider-homepage{
    width: 100vw;
    height: auto;
    display: block;
    object-fit: cover;
}

.img-prodotto-evidenza{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 3px 5px #0000002f;
}

.punti-cardine-images{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}

.prodotti-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}

.blog-1-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}

.blog-2-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}

.blog-3-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}